body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
    margin-left: 80px;
}
h1{
    font-size: 50px;
}
.my-mission{
    text-align: center;
}
.h1-color{
    font-size: 50px;
    color: sandybrown;
}
.half-width{
    width: 50%;
    margin-left: 50px;
}
.half-width img{
    width:50%;
    margin-left: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato, green);
    color: white;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 10px;
}
.header{
    border-left: 7px solid;
    border-image: linear-gradient(red,blue);
    border-image-slice: 1;
}
.misson-vission-goals{
    width: 20%;
    height: 35%;
    margin: 35px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
    text-align:justify;
}
.misson-vission-goals img{
    height: 45%;
    width: 40%;
}
#mission{
    background-color: khaki;
}
#vission{
    background-color: lightblue;
}
#goals{
    background-color: mediumaquamarine;
}

.footer{
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: coral;
}
footer h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.color-change{
    color: yellow;
}